#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.grid {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: -1;
  width: 100%;
  opacity: 0.2;
}

/* ------------ Landing Section ------------ */

.landing {
  display: flex;
  align-items: center;
  justify-content: space-between; 
  flex-direction: row;
  padding: 2rem;
}

.left-div {
  display: flex;
  flex-direction: column;
  align-items: flex-start; 
  padding-right: 2rem; 
}

.button-cont {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.title {
  font-size: 3rem;
  background: linear-gradient(to right, white, rgb(158, 158, 158));
  -webkit-background-clip: text;
  color: transparent;
  margin: 10px 0;
  font-weight: bold;
  text-align: left;
  letter-spacing: 0.08em;
}

.summary {
  text-align: left;
  margin-bottom: 2rem;
}

.phoneImg {
  width: 22rem;
  height: auto;
  display: block; 
  filter: drop-shadow(0 0 10px rgba(144, 144, 144, 0.99));
}

.login {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #5200ff;
  color: white;
  cursor: pointer;
  transition: border-color 0.25s;
  margin-right: 1rem; 
}

.login:hover {
  border-color: #646cff;
}

.login:focus,
.login:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
