.Rap {
    text-align: center;
  }
  
  .Rap-header {
    background-color: #282c34;
    min-height: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .Rap canvas {
    width: 100%;
    height: 80vh;
  }