<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>652485847432-b728topg5s1p3l563pdmc7boqs3otlke.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.652485847432-b728topg5s1p3l563pdmc7boqs3otlke</string>
	<key>API_KEY</key>
	<string>AIzaSyCs5BY1gfph8ahabrOoCyUn_ajjo30FbLE</string>
	<key>GCM_SENDER_ID</key>
	<string>652485847432</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>jayden.mobile-app</string>
	<key>PROJECT_ID</key>
	<string>sfu-hack-28609</string>
	<key>STORAGE_BUCKET</key>
	<string>sfu-hack-28609.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:652485847432:ios:704ba489040a7163e8b23d</string>
</dict>
</plist>